data
.Rproj.user
.Rproj
code/tests/nps_prior_test.R
code/tests/nps_prior_logtest.R
code/models/si2
code/models/mrp_int2
code/models/nps_prior_md
code/models/nps_prior_pp
todo.md
elapsedRake.Rdata
elapsed.Rdata
nps_prior_pl_res.RDS
nps_prior_rak_res.RDS
rhat_Raking.Rdata 
rhat_Pseudolikelihood.Rdata